/* styles for light mode */
.HeadingTag {
    background-color: white;
    color: black;
  }
  
  /* styles for dark mode */
  .dark .HeadingTag {
    background-color: black;
    color: white;
  }
  