/* styles for light mode */
.textColor {
    color: black;
  }
  
  /* styles for dark mode */
  .textColorDark {
    color: white;
  }

  .backgroundColor {
    background-color: white;
    border: 2px solid black;
  }

  .backgroundColorDark{
    background-color: #2d2e2e;
    border: 2px solid white;
  }
  